/Mystring1.class
/Mystring2.class
/Mystring3.class
/Mystring4.class
/MyStringMethods.class
/Myimmutable.class
/Mymethodchaining.class
/Mystring5.class
/Mystring6.class
/Mystring7.class
/Mystring8.class
/Mystring9.class
